  <div id="economy" class="tab-pane fade">
        {{#if this.char.custom.limit}}
           <div class="row">
               <div class="col col-md-6 col-sm-12">
                   <EconChart @list={{this.char.custom.econ_chart}} />
               </div>
                <div class="col col-md-6 col-sm-12">
                   <EconStats @limit={{this.char.custom.limit}} @info={{this.char.custom.block_info}} @expiry={{this.char.custom.block_expiry}} @modifiers={{this.char.custom.modifiers}} @name={{this.char.name}} />
                </div>
               {{#if this.char.custom.econ_chart}}
               {{else}}
                    <div align=left> <button name="econset" {{on 'click' (fn this.econSet this.char.name)}} class="btn btn-secondary">Set your limit</button></div>
               {{/if}}
           </div>
        {{/if}}
  </div>
