  <div id="economy" class="tab-pane fade">
        {{#if char.custom.limit}}
           <div class="row">
               <div class="col col-md-6 col-sm-12">
                   <EconChart @list={{char.custom.econ_chart}} />
               </div>
                <div class="col col-md-6 col-sm-12">
                   <EconStats @limit={{char.custom.limit}} @info={{char.custom.block_info}} @expiry={{char.custom.block_expiry}} @modifiers={{char.custom.modifiers}} @name={{char.name}} />
                </div>
               {{#if char.custom.econ_chart}}
               {{else}}
                    <div align=left> <button name="econset" {{action 'econSet' char.name}} class="btn btn-secondary">Set your limit</button></div>
               {{/if}}
           </div>
        {{/if}}
  </div>
