{{page-title "econ-management"}}
<h1>Economy Management</h1>

{{#if this.model.limits.investors}}
<h2>Current Limits</h2>
<div class="table-responsive">
<table class="table table-striped">
  <thead>
      <th></th>
      {{#each this.model.limits.titles as |title|}}
      <th>{{title}}</th>
      {{/each}}
  </thead>
  
  <tbody>
    {{#each this.model.limits.investors as |char| }}
    <tr>
      {{#each-in char as |field value| }}
        <td>
          {{#if (eq field 'char')}}
            <CharIconInline @char={{value}} />
          {{else}}
             {{#if (eq value 'action')}}
                 <button name="reset" {{on 'click' (fn this.econReset char.char.name)}} class="btn btn-secondary">Reset</button>
             {{else}}
                {{value}}
             {{/if}} 
          {{/if}}
        </td>
        {{/each-in}}
    </tr>
    {{/each}}
  </tbody>

</table>
</div>
{{/if}}

{{#if this.model.blocked.investors}}
<h2>Current Blocks</h2>
<div class="table-responsive">
<table class="table table-striped">
  <thead>
      <th></th>
      {{#each this.model.blocked.titles as |title|}}
      <th>{{title}}</th>
      {{/each}}
  </thead>

  <tbody>
    {{#each this.model.blocked.investors as |char| }}
    <tr>
      {{#each-in char as |field value| }}
        <td>
          {{#if (eq field 'char')}}
            <CharIconInline @char={{value}} />
          {{else}}
             {{#if (eq value 'action')}}
                 <button name="unblock" {{on 'click' (fn this.econUnblock char.char.name)}} class="btn btn-secondary">Unblock</button>
             {{else}}
                {{value}}
             {{/if}}
          {{/if}}
        </td>
        {{/each-in}}
    </tr>
    {{/each}}
  </tbody>

</table>
</div>
{{else}}
{{/if}}

<br><br>
<EconBlockChar @setEconBlock={{this.setEconBlock}}/>

<div align="right">
<button name="econblock" {{on 'click' this.doSetEconBlock}} class="btn btn-secondary">Econ Block</button>
{{#if this.model.limits.investors}}
<button name="clearlimits" {{on 'click' this.econClearAll}} class="btn btn-secondary">Clear All Limits</button>
{{/if}}
</div>

{{outlet}}
